<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cn" lang="cn">

<head>
    <title>{% block title %}GameGear| 游戏齿轮 - 独立游戏制作者们的社区{% endblock %}</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" href="{{ static_url }}/answer/img/favicon.ico" />
    <!--jquery-ui-->
		<link href="{{ static_url }}/answer/jquery/css/ui-lightness/jquery-ui-1.10.3.custom.css" rel="stylesheet">
		<!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js" type="text/javascript"></script-->
		<script src="{{ static_url }}/answer/jquery/js/jquery-1.11.0.min.js"></script>
		<script src="{{ static_url }}/answer/jquery/plugin/jquery-ui-1.10.3.custom.min.js"></script>
        <script src="{{ static_url }}/answer/jquery/plugin/jquery.cookie.js"></script>
	<!--juery-ui end-->
	<!--img box start-->
		<link rel="stylesheet" href="{{ static_url }}/answer/jquery/plugin/prettyPhoto/css/prettyPhoto.css" type="text/css" media="screen" charset="utf-8" />
		<script src="{{ static_url }}/answer/jquery/plugin/prettyPhoto/js/jquery.prettyPhoto.js" type="text/javascript" charset="utf-8"></script>
	<!--img box end-->
    <!--ueditor-->
    <script type="text/javascript" charset="utf-8" src="{{ static_url }}/answer/js/ueditor/ueditor.config.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ static_url }}/answer/js/ueditor/ueditor.all.min.js"> </script>
    <!--建议手动加在语言，避免在ie下有时因为加载语言失败导致编辑器加载失败-->
    <!--这里加载的语言文件会覆盖你在配置项目里添加的语言类型，比如你在配置项目里配置的是英文，这里加载的中文，那最后就是中文-->
    <!--script type="text/javascript" charset="utf-8" src="js/ueditor/lang/zh-cn/zh-cn.js"></script-->
    <!--end ueditor-->
    <!--start markdown editor-->
    <script type="text/javascript" src="{{ static_url }}/answer/js/pagedown-bootstrap/js/jquery.pagedown-bootstrap.combined.min.js"></script>
    <link href="{{ static_url }}/answer/js/pagedown-bootstrap/css/jquery.pagedown-bootstrap.css" rel="stylesheet">
    <script src="http://cdn.bootcss.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://cdn.bootcss.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://cdn.bootcss.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="{{ static_url }}/answer/js/showdown/compressed/showdown.syntaxhighter.js"></script>
    <script src="{{ static_url }}/answer/js/showdown/compressed/extensions/github.js"></script>
    <!--end markdown editor-->
    <!--start syntax highlight-->
    <script type="text/javascript" src="{{ static_url }}/answer/js/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="{{ static_url }}/answer/js/syntaxhighlighter/scripts/shBrushPython.js"></script>
    
    <link href="{{ static_url }}/answer/js/syntaxhighlighter/styles/shCoreEmacs.css" rel="stylesheet" type="text/css" />
    <!--end syntax highlight-->
    <link rel="stylesheet" type="text/css" href="{{ static_url }}/answer/stack.css">
    <link rel="stylesheet" type="text/css" href="{{ static_url }}/answer/jqtab.css">
</head>

<body>
	
    <div id="boxed">
        <header>
            <div id="menu-bar" class='center'>
                <a class="left" href="{{ answer_url }}">首页</a>
                <a class="left" href="{{ answer_url }}myaccount/">我的账户</a>
                <a class="left" href="{{ answer_url }}myaccount/favorites/">收藏夹</a>
            {% if logined %}
                <a href="{{ answer_url }}logout/" class="left link">登出</a>
            {% else %}
                <a href="{{ answer_url }}login/" class="left link">登录</a>
            {% endif %}
                <a href="{{ answer_url }}random/" class="right">试试手气[]~(￣▽￣)~*</a><a class="clear"></a>
                <form action="{{ answer_url }}search/" method="GET" class="right">
                    <input type="text" class="white-text shadow-light black-bg border-none" placeholder="搜索"/>
                    <input type="submit" style="display:none"/>
                </form>
            </div><!--end menu-bar-->
        </header>
        <div id='main' class='center'>
            <div id='container' class="center">
                    
                    <div id='info'>
                        <div id='info-warper'>
                            <div id="logo" class="left"><a href="{{ answer_url }}"><img src="{{ static_url }}/answer/img/logos/gamegear.png"/></a></div>
                            <div id="info-detail" class="right">
                                <ul id="intro" class="no-list-style">
                                    <li class="black-gray-btn left"><a title="" href="{{ guide_url }}">社区使用指南</a></li>
                                    <li class="black-gray-btn left"><a title="" href="{{ art_url }}">GearArt</a></li>
                                    <li class="black-gray-btn left"><a title="" href="{{ projects_url }}">GearProjects</a></li>
                                    {% if not logined %}
                                    <li class="black-gray-btn left"><a title="" href="{{ answer_url }}register/">加入社区</a></li>
                                    {% else %}
                                    <li class="black-gray-btn left"><a title="" href="{{ answer_url }}input/">发表主题</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div><!--end div info-warper-->
                        <div class='clear'></div>
                    </div><!--end div info-->

                    <div id="core-content">
                        <div id="core-left" class="left">

                        {% block left_box %}
                            {% block top_nav %}
                            {% if navigations %}
                            <div id="core-tabs" class="jqtab-kstyle light-black-box-shadow">
                                <ul>
                                {% for nav in navigations %}
                                    <li><a href="{{ answer_url }}ajax/nav/{{ nav.id }}/?page=1">{{ nav.name }}</a></li>
                                {% endfor %}
                                </ul>
                                
                            </div><!--end div core-tabs-->
                            {% endif %}
                            {% endblock top_nav %}

                            {% block node_list %}
                            <div class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">
                                <div class="left-cell border-bottom">
                                    <strong>
                                        <span>节点列表</span>
                                    </strong>
                                </div><!--end a left-cell-->
                                
                                {% for node in node_list %}
                                <div class="left-cell font-11px border-bottom">
                                    <table>
                                        <td class="nodes-box-left">
                                            <p>{{ node.parent.name }}</p>
                                        </td>
                                        <td class="nodes-box-right">
                                            {% for cnode in node.children %}
                                            <a href="{{ cnode.get_abs_url }}" title="{{ cnode.name }}" class="padding-5 left black-gray-btn radius-5 shadow-light-no-ease">{{ cnode.name }}</a>
                                            {% endfor %}
                                        </td>
                                    </table>
                                    
                                </div><!--end a left-cell-->
                                {% endfor %}
                                
                            </div><!--end left-box-->
                            {% endblock node_list %}
                            
                            {% block editor %}{% endblock %}

                        {% endblock left_box %}
                        </div><!--end div core-left-->
                        
                        <div id="core-sidebar" class="left">
                    {% if not logined %}
                        {% block login %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell center border-bottom">
                                    <div class="left">
                                        <p><strong>GameGear</strong></p>
                                        <p class="gray-text font-11px">GameGear是一个独立游戏制作互助社区</p>
                                    </div>
                                    <div class="clear"></div>
                                </div><!--end a cell div-->
                                <div class="cell center text-center gray-text">
                                    <div class="">
                                        <form  id="login-form" action="{{ answer_url }}login/" method="post">
                                            {% csrf_token %}
                                            <label>用户名:</label>
                                            <input type="text" class="clear-btn-style black-bg white-text   font-11px" placeholder="" name="username" required maxlength="250" /><br>
                                            <label>密码 ：</label>
                                            <input type="password" class="black-bg white-text  clear-btn-style font-11px" placeholder="" name="password" required maxlength="20"/><br>
                                            <input id="login-btn" class="clear-btn-style black-gray-btn shadow-light" type="submit" value="登录"/>
                                        </form>
                                    </div>
                                </div><!--end a cell div-->
                                <div class=" cell center text-center gray-text">
                                    <div class="center text-center">
                                        <p>没有账户？ <a href="{{ answer_url }}register/">现在注册</a></p>
                                    </div>
                                    <div class="clear"></div>
                                </div><!--end a cell div-->
                                <div class="clear"></div>
                            </div><!--end side-box-->
                        {% endblock %}
                    {% else %}

                        {% block user %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell center">
                                    <div class="user-avatar left">
                                        <a href="{{ answer_url }}gear/{{ current_user.id }}/profile/edit/">
                                        {% if current_user.avatar %}
                                            <img src="{{ current_user.avatar }}"/>
                                        {% else %}
                                            <img src="{{ static_url }}/answer/img/avatar.png"/>
                                        {% endif %}
                                        </a>
                                    </div>
                                    <div class="username left"><a href="{{ answer_url }}gear/{{ current_user.id }}/profile/">{{ current_user.username }}</a></div>
                                    <div class="clear"></div>
                                </div><!--end a cell div-->
                                <div class="cell center text-center gray-text border-bottom ">
                                    <div class="user-info left">
                                        <p><a>{{ current_user.ftopic_count }}</a></p>
                                        <p>主题收藏</p>
                                    </div>
                                    <div class="user-info border-lr left">
                                        <p><a>{{ current_user.fnode_count }}</a></p>
                                        <p>节点收藏</p>
                                    </div>
                                    <div class="user-info left">
                                        <p><a>{{ current_user.fuser_count }}</a></p>
                                        <p>关注的用户</p>
                                    </div>
                                    <div class="clear"></div>
                                </div><!--end a cell div-->
                                <div class="cell center text-center gray-text">
                                    <div class="left">
                                        <p><a>{{ current_user.unread_msg_count }} 条未读消息</a></p>
                                    </div>
                                    <div class="right">
                                        <p><a>{{ current_user.gears }} 财富</a></p>
                                    </div>
                                    <div class="clear"></div>
                                </div><!--end a cell div-->
                                <div class="clear"></div>
                            </div><!--end side-box-->
                        {% endblock %}

                    {% endif %}
                    
                        {% block site_echo %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell center gray-text">
                                    <p><a id="site-statement" href="#">{{ site_echo }}</a></p>
                                </div><!--end a cell div-->                                                                
                                <div class="clear"></div>
                            </div><!--end side-box-->
                        {% endblock %}
                            
                        {% block hot_post %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell border-bottom center gray-text">
                                    <p><strong>今日热议</strong></p>
                                </div><!--end a cell div-->
                                {% if hot_topics %}
                                <div class="cell center gray-text">
                                    <ul class="mini-topic no-list-style ">
                                        {% for topic in hot_topics %}
                                        <li class="border-bottom">
                                           <table>
                                                {% if topic.node.avatar %}
                                                <td><img src="{{ topic.node.get_avatar_url }}"/></td>
                                                {% else %}
                                                <td><img src="{{ static_url }}/answer/img/avatar.png"/></td>
                                                {% endif %}
                                                <td><a href="{{ topic.get_abs_url }}" class="gray-text">{{ topic.title }}</a></td>
                                            </table>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div><!--end a cell div-->
                                {% endif %}                                                            
                                <div class="clear"></div>
                            </div><!--end side-box-->
                        {% endblock %}
                        
                        {% block hot_nodes %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell node-collection border-bottom center gray-text">
                                    <p><strong>最热节点</strong></p>
                                </div><!--end a cell div-->
                                <div class="cell center gray-text">
                                    {% if hot_nodes %}
                                   <ul class="sidebar-node-list no-list-style">
                                        {% for node in hot_nodes %}
                                        <li class="black-gray-btn radius-3 left"><a href="{{ node.get_abs_url }}">{{ node.name }}</a></li>
                                        {% endfor %}
                                   </ul>
                                   {% endif %}
                                </div><!--end a cell div-->                                                              
                                <div class="clear"></div>
                            </div><!--end side-box-->
                        {% endblock %}
                        {% block new_nodes %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell node-collection border-bottom center gray-text">
                                    <p><strong>新增节点</strong></p>
                                </div><!--end a cell div-->
                                <div class="cell center gray-text">
                                    {% if new_nodes %}
                                   <ul class="sidebar-node-list no-list-style">
                                        {% for node in new_nodes %}
                                        <li class="black-gray-btn radius-3 left"><a href="{{ node.get_abs_url }}">{{ node.name }}</a></li>
                                        {% endfor %}
                                   </ul>
                                   {% endif %}
                                </div><!--end a cell div-->                                                              
                                <div class="clear"></div>
                            </div><!--end side-box-->
                        {% endblock %}
                        {% block right_box_extra %}{% endblock %}
                        </div><!--end div core-sidebar-->
                        <div class="clear"></div>
                    </div><!--end div core-content-->
                    
                    <div class='clear'></div>
            </div><!--end div container-->
        </div><!--end div main-->

        
        <div id='footer' class="gray-text center deep-bg">
            <div id='footer-container' class="center">
                <div class="footer-cell">
                    <span class="footer-block"><a>关于</a></span>
                    <span class="footer-block"><a>FAQ</a></span>
                    <span class="footer-block"><a>我们的希望</a></span>
                    <span class="footer-block"><a>工作空间</a></span>
                    <span class="footer-block"><a>友琏申请</a></span>
                </div><!--end a footer-cell-->
                <div class="footer-cell font-11px">
                    <span class="footer-block">独立游戏制作者们的社区</span><br>
                    <span class="footer-block">Powered by <a>GearDriver</a></span>
                </div><!--end a footer-cell-->
                <div class="footer-cell font-11px">
                    <span class="footer-block">VERSION: 0.1 - By Django and Python<span><br>
                    <span class="footer-block">♥热情冷却下来你却还能坚持这件事，所以你一定可以把它做成</span>
                </div><!--end a footer-cell-->
            </div><!--end div footer-container-->
        </div>
        <div class="clear"></div>
    </div><!--end div boxed-->

    <div id="menu-bar-copy" style="display:none;">
            <a class="left" href="mailto:winkidney@gmail.com">发邮件</a>
            <a class="left" href="#">管理</a>
            <a class="left" ></a><a class="right link">登录</a>
            <a class="right">试试手气[]~(￣▽￣)~*</a><a class="clear"></a>      
    </div><!--end menu-bar-->
    

    
    <script type="text/javascript" charset="utf-8" src="{{ static_url }}/answer/js/lib.js"></script>
    <script type="text/javascript" charset="utf-8" src="{{ static_url }}/answer/js/render.js"></script>
    {% block extra_js %}{% endblock %}
</body>

</html>
