{% extends "gearanswer/base.html" %}

                    {% block top_nav %}
                    <div class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">
                        <div class="left-cell  border-bottom">
                                    <div id="node-head" class="topic-post" >
                                        <div class="user-avatar left">
                                            <a href="{{ answer_url }}node/{{ current_node.name }}/">
                                            {% if current_node.avatar %}
                                                <img src="{{ current_node.get_avatar_url }}" alt="{{ current_node.name }}">
                                            {% else %}
                                                <img src="{{ static_url }}/answer/img/avatar.png" {{ current_node.name }}>
                                            {% endif %}
                                            </a>
                                        </div>
                                        <div class="node-head-right left">
                                            <div>
                                                    <strong>
                                                        <a href="{{ answer_url }}" >{{ site_name }}</a>
                                                        &gt; 
                                                        <a href="{{ current_node.get_abs_url }}" >{{ current_node.name }}</a>
                                                    </strong>
                                                    <span class="font-11px right">{{ topic_count }} 个主题 · <a href="like/">加入收藏</a></span>
                                                <div class=" gray-text">
                                                   <p>
                                                       {{ current_node.description }}
                                                   </p>
                                                </div><br>
                                                <div><a href="#new-topic "class="black-gray-btn shadow-light  padding-5-10 radius-3" >创建主题</a></div>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!--end div detail-center-->
                                    </div><!--end div topic-post-->
                                    <div class="clear"></div>
                        </div><!--end a left-cell-->
                    {% if topics %}        
                        <div class="node-detail left border-bottom">
                            <ul class='no-list-style topic '>
                            {% for topic in topics %}
                               <li>
                                    <div class="topic-post ">
                                        <div class="user-avatar left">
                                            <a href="{{ answer_url }}gear/{{ topic.aurhor.id }}/profile/">
                                            {% if topic.author.avatar %}
                                                <img src="{{ topic.author.get_avatar_url }}">
                                            {% else %}
                                                <img src="{{ static_url }}/answer/img/avatar.png">
                                            {% endif %}
                                            </a>
                                        </div>
                                        <div class="detail-center left">
                                            <div class="topic-detail left">
                                                <div class="topic-title">
                                                    <a href="{{ answer_url }}articles/{{ topic.id }}/">{{ topic.title }}</a>
                                                </div>
                                                <div class="topic-info">
                                                   <p>
                                                    <!--a class="gray-bg-link " href="#">C++</a-->
                                                    <span>作者 ：&nbsp;<a href="{{ answer_url }}gear/{{ topic.author.id }}/profile/">{{ topic.author.name }}</a></span>
                                                    {% if topic.last_reply %}
                                                    <span>&nbsp;&nbsp;•&nbsp;最后回复于 {{ topic.last_reply.create_at }}</span>
                                                    <span>&nbsp;&nbsp;•&nbsp;来自&nbsp;<a href="{{ topic.last_reply.author.id }}">{{ topic.last_reply.author.name }}</a></span>
                                                    {% endif %}
                                                   </p> 
                                                </div>
                                            </div>
                                        </div><!--end div topic-center-->
                                        <div class="detail-vote left">
                                            <div class="vote-block">
                                                <span>回复&nbsp;{{ topic.reply_count }}&nbsp;</span>
                                                <span>♥&nbsp;{{ topic.stars }}&nbsp;</span>
                                                <span>有用&nbsp;{{ topic.useful }}&nbsp;</span>
                                                <span>无用&nbsp;{{ topic.useless }}&nbsp;</span>
                                            </div>
                                        </div><!--end div detail-vote-->
                                    </div>
                                    <div class="clear"></div>
                               </li><!--end li topic-post-->
                            {% endfor %}
                            </ul><!-- end ul topic-->
                        </div><!--end div node-detail-->
                        <div class="clear"></div>
                        {% endif %}
                    </div><!--end div left-box-->

                    
                    {% endblock top_nav%}

                    {% block editor %}
                            
                            <div class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">
                                <div class="left-cell gray-text border-bottom ">
                                    <strong>
                                    {% if stand_alone %}
                                        <a href="{{ answer_url }}" >{{ site_name }}</a>
                                        &gt;
                                        <a href="{{ answer_url }}node/{{ node_name }}/" >{{ current_node.name }}</a>
                                    {% endif %}
                                        发表新主题
                                    </strong>
                                </div><!--end a left-cell-->

                                <div class="left-cell font-11px">
                                    <form id="new-topic" action="{{ current_node.get_abs_url }}input/" method="POST">
                                        <div class="border-bottom padding-bottom-5">
                                            {% csrf_token %}
                                            <label class="width-8 block">&gt;&gt;&gt;文章标题<span class="error margin-l-10">{{ topic_form.errors.title }}</span></label>
                                            <input type="text" class="dark-bg white-text shadow-light width-98" name="title" placeholder="title"></input><br>
                                            <!--label class="width-8 block">>>>标签</label>
                                            <input type="text" class="dark-bg white-text shadow-light width-98" name="tag" placeholder="使用英文逗号隔开"></input><br-->
                                            <label class="width-8 block">&gt;&gt;&gt;正文</label>
                                            <span>&nbsp;UEditor</span>
                                            <input id="use-ueditor" type="radio" name="editor" value="ue"></input>
                                            <span>MarkDown</span>
                                            <input id="use-markdown" type="radio" name="editor" value="md"></input><br/>
                                            <div id="div-ue">
                                                <textarea  name="content_ue" style="height:250px;" id="editor-ue"></textarea>
                                            </div>
                                            <div id="div-md">
                                                <textarea  name="content_md"  class="shadow-light radius-5" id="editor-md"></textarea>
                                            </div>
                                        </div>
                                        <input type="submit" class="white-gray-btn no-border radius-3 submit-comment" value="提交回复"/>
                                    </form>
                                </div><!--end a left-cell-->
                                <div class="left-cell font-11px border-bottom">
                                    <span>帮助：<a href="{{ md_help }}">使用MarkDown进行写作</a></span>
                                    <span class="right">&gt;&gt;&gt;<a href="{{ answer_url }}">{{ site_name }}</a></span>
                                </div><!--end a left-cell-->
                                
                                <div class="left-cell  border-bottom gray-text">
                                    <div class="md-render">
##主题创建指南
###信息量 Make Sense
+ 提问型主题：请用准确的语言描述你遇到的问题，如果问题足够在标题中写完，那么正文是不用填写的，在正文中写 RT 是完全没有必要的。提问请参考[提问的艺术]()
+ 分享型主题：欢迎你在这里分享你在网上看到的有趣事物，因为GameGear是一个关于独立游戏的社区，所以游戏相关话题大家会更感兴趣。请不要在 GameGear 分享社会新闻。
+ 作品发布型专题：非常欢迎你在这里发布自己的新作品，我们大家都非常乐意去尝试你的新作。需要注意的是，发布作品请在 分享创造 节点，而非其他节点。
+ 具体技术讨论：请为你的话题选择一个合适的节点，GameGear 为部分编程语言、策划、美术等等都建立了专门的节点，访问方式是在 URL 中直接输入 /node/nodename
###一个友好的社区   Be Nice to the Community
我们希望 GemeGear 能够成为中文游戏开发世界中氛围最好的社区，而实现这个目标，需要我们所有人的共同努力：友善，公平，尊重知识和事实。 
                                    </div>
                                </div><!--end a left-cell-->

                            </div><!--end left-box-->

                            {% endblock %}
{% block node_list %}{% endblock %}
{% block site_echo %}{% endblock %}
{% block hot_post %}{% endblock %}
{% block new_nodes %}{% endblock %}
{% block hot_nodes %}{% endblock %}
{% block right_box_extra %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell border-bottom center gray-text">
                                    <p><strong>{{ current_node.name }}</strong></p>
                                </div><!--end a cell div-->
                                <div class="cell pread-mini center">
                                {% autoescape off %}
                                    <div class="md-render">
{{ current_node.help_text }}
                                    </div>
                                {% endautoescape %}
                                </div><!--end a cell div-->                                                              
                                <div class="clear"></div>
                            </div><!--end side-box-->
                            <div class="side-box light-black-box-shadow ">
                                
                            {% if current_node.parent.name != 'none' %}
                            <div class="cell border-bottom center gray-text">
                                    <p><strong>父节点</strong></p>
                                    <p>
                                        {% if current_node.parent.avatar %}
                                        <img class="node-mini-avatar" src="{{ current.parent.get_avatar_url }}"></img>
                                        {% else %}
                                        <img class="node-mini-avatar" src="{{ static_url }}/answer/img/avatar.png"></img>
                                        {% endif %}
                                        <a href="{{ current_node.parent.get_abs_url }}">{{ current_node.parent.name }}</a>
                                    </p>
                                </div><!--end a cell div-->
                                <div class="cell pread-mini center gray-text">
                                    <p><strong>相关节点</strong></p>
                                    {% for node in related_nodes %}
                                    <p>
                                        {% if node.avatar %}
                                        <img class="node-mini-avatar" src="{{ node.get_avatar_url }}"></img>
                                        {% else %}
                                        <img class="node-mini-avatar" src="{{ static_url }}/answer/img/avatar.png"></img>
                                        {% endif %}
                                        <a href="{{ node.get_abs_url }}">{{ node.name }}</a>
                                    </p>
                                    {% endfor %}
                                </div><!--end a cell div-->                                                              
                                <div class="clear"></div>
                            </div><!--end side-box-->
                            {% endif %}
{% endblock right_box_extra %} 
{% block extra_js %}
    <script type="text/javascript" charset="utf-8" src="{{ static_url }}/answer/js/editor.js"></script>
{% endblock %}
