{% extends "gearanswer/base.html" %}

{% block left_box %}
                    <div class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">
                        <div class="left-cell  ">
                                    <div id="node-head" class="topic-post" >
                                        <div class="user-avatar left">
                                            <a href="#">
                                                <img src="{{ static_url }}/answer/img/avatar.png">
                                            </a>
                                        </div>
                                        <div class="node-head-right left">
                                            <div>
                                                    <strong>
                                                        <a href="{{ answer_url }}" >{{ site_name }}</a>
                                                        &gt; 
                                                        <a href="{{ answer_url }}node/{{ node_name }}/" >{{ current_node.name }}</a>
                                                    </strong>
                                                    <span class="font-11px right">1024个主题 · <a href="#">加入收藏</a></span>
                                                <div class=" gray-text">
                                                   <p>
                                                       {{ current_node.description }}
                                                   </p>
                                                </div><br>
                                                <div><a href="#new-topic "class="black-gray-btn shadow-light margin-t-20 padding-5-10 radius-3" >创建主题</a></div>
                                            </div>
                                            <div class="clear"></div>
                                        </div><!--end div detail-center-->
                                    </div><!--end div topic-post-->
                                    <div class="clear"></div>
                        </div><!--end a left-cell-->
                                
                        <div class="node-detail left">
                            <ul class='no-list-style topic'>
                               <li>
                                    <div class="topic-post">
                                        <div class="user-avatar left">
                                            <a href="#">
                                                <img src="{{ static_url }}/answer/img/avatar.png">
                                            </a>
                                        </div>
                                        <div class="detail-center left">
                                            <div class="topic-detail left">
                                                <div class="topic-title">
                                                    <a href="#">IOS游戏开发是使用什么语言呢？</a>
                                                </div>
                                                <div class="topic-info">
                                                   <p>
                                                    <a class="gray-bg-link" href="#">C++</a>
                                                    &nbsp;&nbsp;•&nbsp;<a href="#">winkidney</a>
                                                    &nbsp;&nbsp;•&nbsp;最后回复于 2014-04-12 12:20
                                                    &nbsp;&nbsp;•&nbsp;来自&nbsp;<a href="#">阿毛</a>
                                                   </p> 
                                                </div>
                                            </div>
                                        </div><!--end div detail-center-->
                                        <div class="detail-vote left">
                                            <div class="vote-block">
                                                <span><a href="#">回复&nbsp;</a>5&nbsp;<a>♥&nbsp;</a>10&nbsp;<a><a>有用&nbsp;</a>3&nbsp;<a><a>无用&nbsp;</a>0&nbsp;</span>
                                            </div>
                                        </div><!--end div detail-vote-->
                                    </div><!--end div topic post-->
                                    <div class="clear"></div>
                               </li><!--end li topic-post-->
                               <li>
                                    <div class="topic-post">
                                        <div class="user-avatar left">
                                            <a href="#">
                                                <img src="{{ static_url }}/answer/img/avatar.png">
                                            </a>
                                        </div>
                                        <div class="detail-center left">
                                            <div class="topic-detail left">
                                                <div class="topic-title">
                                                    <a href="#">IOS游戏开发是使用什么语言呢？</a>
                                                </div>
                                                <div class="topic-info">
                                                   <p>
                                                    <a class="gray-bg-link " href="#">C++</a>
                                                    &nbsp;&nbsp;•&nbsp;<a href="#">winkidney</a>
                                                    &nbsp;&nbsp;•&nbsp;最后回复于 2014-04-12 12:20
                                                    &nbsp;&nbsp;•&nbsp;来自&nbsp;<a href="#">阿毛</a>
                                                   </p> 
                                                </div>
                                            </div>
                                        </div><!--end div topic-center-->
                                        <div class="detail-vote left">
                                            <div class="vote-block">
                                                <span><a href="#">回复&nbsp;</a>5&nbsp;<a>♥&nbsp;</a>10&nbsp;<a><a>有用&nbsp;</a>3&nbsp;<a><a>无用&nbsp;</a>0&nbsp;</span>
                                            </div>
                                        </div><!--end div detail-vote-->
                                    </div>
                                    <div class="clear"></div>
                               </li><!--end li topic-post-->
                            </ul><!-- end ul topic-->
                        </div><!--end div node-detail-->
                        <div class="clear"></div>
                    </div><!--end div left-box-->

                    <div id="new-topic" class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">
                                <div class="left-cell gray-text border-bottom">
                                    <strong>
                                        发表新主题
                                    </strong>
                                </div><!--end a left-cell-->

                                <div class="left-cell font-11px">
                                    <form id="reply-to" action="/" method="POST">
                                        <div class="border-bottom padding-bottom-5">
                                            <input type="hidden" name="topic-id" value="topic-id-1245623"></input>
                                            <label class="width-8 block">&gt;&gt;&gt;文章标题</label>
                                            <input type="text" class="dark-bg white-text shadow-light width-98" name="标题" placeholder="title"></input><br>
                                            <!--label class="width-8 block">&gt;&gt;&gt;标签</label>
                                            <input type="text" class="dark-bg white-text shadow-light width-98" name="标题" placeholder="使用英文逗号隔开"></input><br-->
                                            <span>&nbsp;UEditor</span>
                                            <input id="use-ueditor" type="radio" name="editor" value="ueditor"></input>
                                            <span>MarkDown</span>
                                            <input id="use-markdown" type="radio" name="editor" value="markdown"></input><br/>
                                            <div id="div-ue">
                                                <textarea  name="comment-ue" style="height:250px;" id="editor-ue"></textarea>
                                            </div>
                                            <div id="div-md">
                                                <textarea  name="comment-md"  class="shadow-light radius-5" id="editor-md"></textarea>
                                            </div>
                                        </div>
                                        <input type="submit" class="white-gray-btn no-border radius-3 submit-comment" value="提交回复"/>
                                    </form>
                                </div><!--end a left-cell-->
                                <div class="left-cell font-11px border-bottom">
                                    <span>帮助：<a href="{{ md_help }}">使用MarkDown进行写作</a></span>
                                    <span class="right">&gt;&gt;&gt;返回<a href="{{ answer_url }}">{{ site_name }}</a></span>
                                </div><!--end a left-cell-->
                                
                                <div class="left-cell  border-bottom gray-text">
                                    <div class="md-render">
##主题创建指南
###信息量 Make Sense
+ 提问型主题：请用准确的语言描述你遇到的问题，如果问题足够在标题中写完，那么正文是不用填写的，在正文中写 RT 是完全没有必要的。提问请参考[提问的艺术]()
+ 分享型主题：欢迎你在这里分享你在网上看到的有趣事物，因为GameGear是一个关于独立游戏的社区，所以游戏相关话题大家会更感兴趣。请不要在 GameGear 分享社会新闻。
+ 作品发布型专题：非常欢迎你在这里发布自己的新作品，我们大家都非常乐意去尝试你的新作。需要注意的是，发布作品请在 分享创造 节点，而非其他节点。
+ 具体技术讨论：请为你的话题选择一个合适的节点，GameGear 为部分编程语言、策划、美术等等都建立了专门的节点，访问方式是在 URL 中直接输入 /node/nodename
###一个友好的社区   Be Nice to the Community
我们希望 GemeGear 能够成为中文游戏开发世界中氛围最好的社区，而实现这个目标，需要我们所有人的共同努力：友善，公平，尊重知识和事实。 
                                    </div>
                                </div><!--end a left-cell-->

                            </div><!--end left-box-->
{% endblock left_box %}
{% block site_echo %}{% endblock %}
{% block hot_post %}{% endblock %}
{% block new_nodes %}{% endblock %}
{% block hot_nodes %}{% endblock %}
{% block right_box_extra %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell border-bottom center gray-text">
                                    <p><strong>Python</strong></p>
                                </div><!--end a cell div-->
                                <div class="cell pread-mini center">
                                    <p><a href="#">&gt;Python Offical Website</a></p>
                                    <p><a href="#">&gt;Learning Python</a></p>
                                    <p><a href="#">&gt;Python科学计算</a></p>
                                </div><!--end a cell div-->                                                              
                                <div class="clear"></div>
                            </div><!--end side-box-->
                            <div class="side-box light-black-box-shadow ">

                            <div class="cell border-bottom center gray-text">
                                    <p><strong>父节点</strong></p>
                                    <p>
                                        <img class="node-mini-avatar" src="{{ static_url }}/answer/img/avatar.png"></img>
                                        <a href="#">编程</a>
                                    </p>
                                </div><!--end a cell div-->
                                <div class="cell pread-mini center gray-text">
                                    <p><strong>相关节点</strong></p>
                                    <p>
                                        <img class="node-mini-avatar" src="{{ static_url }}/answer/img/avatar.png"></img>
                                        <a href="#">编程</a>
                                    </p>
                                    <p>
                                        <img class="node-mini-avatar" src="{{ static_url }}/answer/img/avatar.png"></img>
                                        <a href="#">编程</a>
                                    </p>
                                    <p>
                                        <img class="node-mini-avatar" src="{{ static_url }}/answer/img/avatar.png"></img>
                                        <a href="#">编程</a>
                                    </p>
                                    <p>
                                        <img class="node-mini-avatar" src="{{ static_url }}/answer/img/avatar.png"></img>
                                        <a href="#">编程</a>
                                    </p>
                                </div><!--end a cell div-->                                                              
                                <div class="clear"></div>
                            </div><!--end side-box-->
                            
{% endblock right_box_extra %} 
{% block extra_js %}
    <script type="text/javascript" charset="utf-8" src="{{ static_url }}/answer/js/editor.js"></script>
{% endblock %}
