{% extends "gearanswer/base.html" %}
{% block left_box %}
                            <div class="left-box gray-bg topic-box radius-3 light-black-box-shadow ">
                                <div class="left-cell gray-text ">
                                    <strong>
                                        <a href="#" >GameGear</a>
                                        >
                                        <a href="#" >{{ topic.node.name }}</a> 
                                    </strong>
                                </div><!--end a left-cell-->
                                <div class="left-cell left-cell-title ">
                                    <p class="">{{ topic.title }}</p>
                                </div><!--end a left-cell-->
                                
                                <div class="left-cell border-bottom">
                                    <div id="voteit" class="topic-info">
                                        <p>
                                            <a href="#">{{ topic.author.name }}</a>
                                            &nbsp;&nbsp;&nbsp;发表于 {{ topic.create_at }}
                                            &nbsp;&nbsp;&nbsp;点击&nbsp;{{ topic.view_times }}&nbsp;&nbsp;&nbsp;
                                            <span><a href="#">回复&nbsp;</a>{{ topic.reply_count }}&nbsp;<a>收藏&nbsp;</a>{{ topic.stars }}&nbsp;<a>
                                                <a>感谢&nbsp;</a>{{ topic.useful }}&nbsp;<a><a>无用&nbsp;</a>{{ topic.useless }}&nbsp;
                                            </span>
                                        </p>
                                    </div>
                                </div><!--end a left-cell-->
                                {% if topic.content %}
                                {% autoescape off %}
                                <div class="left-cell deep-bg border-bottom div-read">
                                    {% if topic.editor == 'md' %}
                                    <div class="md-render">
{{ topic.content }}
                                    </div>
                                    {% else %}
                                        {{ topic.content }}
                                    {% endif %}
                                </div><!--end a left-cell-->
                                {% endautoescape %}
                                {% endif %}
                                
                            </div><!--end topic-box-->

                        {% if replys %}
                        
                            <div class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">

                                <div class="left-cell font-11px border-bottom">
                                    <strong>
                                        <span>{{ reply_count }}&nbsp;回复</span>
                                    </strong>
                                {% if topic.tags.exists %}
                                    {% for tag in topic.tags.all %}
                                        <a class="tag right black-gray-btn radius-5 padding-5" href="{{ tag.get_abs_url }}" >{{ tag.name }}</a>
                                    {% endfor %}
                                    <span class="right">标签：</span>
                                {% endif %}
                                </div><!--end a left-cell-->

                            {% for reply in replys %}
                                <div id="comment_{{ reply.id }}" class="left-cell border-bottom">
                                    <div class="topic-comment-left user-avatar left">
                                        <a title="{{ reply.author.name }}" href="#">
                                            {% if reply.author.avatar %}
                                            <img src="{{ reply.author.avatar.url }}" alt="{{ reply.author.name }}">
                                            {% else %}
                                            <img src="{{ static_url }}/answer/img/avatar.png" alt="{{ reply.author.name }}">
                                            {% endif %}
                                        </a>
                                    </div>
                                    <div class="topic-comment-right left" id="comment-{{ reply.id }}">
                                        <div  class="comment-info border-bottom gray-text">
                                            <p>
                                                <span class="right">采纳为最佳答案&nbsp;&nbsp;<a href="">{% if not reply.best %}√{% endif %}</a></span>
                                                <span class="right"><a href="">感谢回复者&nbsp;</a>{{ reply.useful }}&nbsp;</span>
                                                <span class="right"><a href="">问题无意义&nbsp;</a>{{ reply.useless }}&nbsp;</span>
                                                <span class="left">{{ forloop.counter }}楼&nbsp;&nbsp;</span>
                                                <span class="left"><a href="#">{{ reply.author.name }}</a></span>
                                                <span class="left">&nbsp;&nbsp;&nbsp;发表于 {{ reply.create_at }}</span>
                                                <p class="clear"></p>
                                            </p>
                                        </div>
                                        <div class="topic-content div-read">
                                        {% autoescape off %}
                                            {% if reply.editor == 'md' %}
                                            <div class="md-render">
{{ reply.content }}
                                            </div>
                                            {% else %}
                                                {{ reply.content }}
                                            {% endif %}
                                        {% endautoescape %}
                                        </div><!--end div topic-content-->
                                    </div><!--end div topic-comment-right-->
                                    <div class="clear"></div>
                                </div><!--end a left-cell-->
                            {% endfor %}

                            </div><!--end reply-box-->
                        {% endif %}


                            <div class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">
                                <div class="left-cell border-bottom">
                                    <strong>
                                        <span>&nbsp;发表回复</span>
                                        <span class="right"><a href="#">&uarr;回顶部</a></span>
                                    </strong>
                                    
                                </div><!--end a left-cell-->

                                <div class="left-cell font-11px">
                                    <form id="reply-to" action="reply/" method="POST">
                                        <div class="border-bottom padding-bottom-5">
                                            {% csrf_token %}
                                            <input id="reply_to" type="hidden" name="reply_to" value=""></input>
                                            <span>&nbsp;UEditor</span>
                                            <input id="use-ueditor" type="radio" name="editor" value="ue"></input>
                                            <span>MarkDown</span>
                                            <input id="use-markdown" type="radio" name="editor" value="md"></input><br/>
                                            <span class="right">帮助：<a href="#">MarkDown编辑器常见问题</a></span>
                                            <div id="div-ue">
                                                <textarea  name="comment_ue" style="height:250px;" id="editor-ue"></textarea>
                                            </div>
                                            <div id="div-md">
                                                <textarea  name="comment_md"  class="shadow-light radius-5" id="editor-md"></textarea>
                                            </div>
                                        </div>
                                        <input type="submit" class="white-gray-btn no-border radius-3 submit-comment" value="提交回复"/>
                                    </form>
                                </div><!--end a left-cell-->
                                <div class="left-cell font-11px border-bottom">
                                    <span>帮助：<a href="#">使用MarkDown进行写作</a></span>
                                    <span class="right">>>>返回<a href="/">GearAnswer</a></span>
                                </div><!--end a left-cell-->

                            </div><!--end left-box-->
{% endblock left_box %}
{% block site_echo %}{% endblock %}
{% block hot_post %}{% endblock %}
{% block new_nodes %}{% endblock %}
{% block hot_nodes %}{% endblock %}
{% block right_box_extra %}
                            <div class="side-box light-black-box-shadow ">
                                <div class="cell border-bottom center gray-text">
                                    <p><strong>Python</strong></p>
                                </div><!--end a cell div-->
                                <div class="cell pread-mini center">
                                    <p><a href="#">>Python Offical Website</a></p>
                                    <p><a href="#">>Learning Python</a></p>
                                    <p><a href="#">>Python科学计算</a></p>
                                </div><!--end a cell div-->                                                              
                                <div class="clear"></div>
                            </div><!--end side-box-->
{% endblock right_box_extra %}
{% block extra_js %}
    <script type="text/javascript" charset="utf-8" src="{{ static_url }}/answer/js/editor.js"></script>
{% endblock %}
