{% extends "gearanswer/base.html" %}
{% block left_box %}
                            <div class="left-box gray-bg reply-box radius-3 light-black-box-shadow ">
                                <div class="left-cell gray-text ">
                                    <strong>
                                        <a href="#" >GearAnswer</a>
                                        > 
                                        注册
                                    </strong>
                                </div><!--end a left-cell-->

                                <div class="left-cell font-11px">
                                    
                                        <div class=" padding-bottom-5">
                                        {% if uinfo_dict.avatar %}
                                            <img class="user-avatar" src="{{ uinfo_dict.avatar }}">
                                        {% else %}
                                            <img class="user-avatar" src="{{ static_url }}/answer/img/avatar.png">
                                        {% endif %}
                                        {% for kv in uinfo_dict.detail %}
                                            {% if kv.1 %}
                                            <label class="width-8 block gray-text"><strong>[{{ kv.0 }}]</strong></label>
                                            <label class="dark-bg white-text shadow-light width-98">{{ kv.1 }}</label><br>
                                            {% endif %}
                                        {% endfor %}
                                        </div>
                                </div><!--end a left-cell-->
                                {% if logined and cuser.id == uinfo_dict.id %}
                                <div class="left-cell font-11px">
                                        <a href="{{ answer_url }}gear/{{ uinfo_dict.id }}/edit/">编辑个人资料</a>
                                </div><!--end a left-cell-->
                                {% endif %}
                                <div class="left-cell font-11px border-bottom">
                                    <span>帮助：<a href="#">关于社区积分</a></span>
                                    <span class="right">>>>返回<a href="/">GearAnswer</a></span>
                                </div><!--end a left-cell-->
                                
                            </div><!--end left-box-->
{% endblock left_box %}

{% block user %}{% endblock %}

{% block site_echo %}{% endblock %}
{% block hot_post %}{% endblock %}
{% block new_nodes %}{% endblock %}
{% block hot_nodes %}{% endblock %} 
