body,html {
	background-color:#222222;
	padding: 0;
	margin: 0;
	color: white;
	font-size: 14px;
	font-weight: inherit;
	line-height: 21px;
	height: 100%;
    font-family: "Consolas","Monospace","黑体","宋体";
}
p{
	margin:0;
}
a,
.topic-title a,
.vote-block a,
.topic-info a,
.node-list a,
.black-gray-btn,
.default-link,
.default-link{
	cursor: pointer;
	color: rgb(238, 136, 135);
    /*color: #0077DD;*/
	text-decoration: none;
    transition: all 0.5s ease 0s;
}
a:hover,
.default-link:hover,
.topic-title a:hover,
.topic-info a:hover,
.vote-block a:hover,
.node-list a:hover{
	color: rgb(255, 170, 174);
	text-decoration: none;
    transition: all 0.15s ease 0s;
}
.left {
	float: left;
	}
.right {
	float: right;
	}
.clear {
	clear: both;
	}
.hide {
	display: none;
	}
.center {
	margin-left: auto;
	margin-right: auto;
}
.text-center{
    text-align: center;
}
.error{
    color: red;
}
.gray-text{
    color: #C6C6C6;
}
.border-none{
    border: none;
    }
.padding-5{
    padding: 5px;
}
.margin-5{
    margin: 5px;
}
.margin-l-10{
    margin-left: 10px;
    }
.margin-t-20{
    margin-top: 20px;
    }
.padding-5-10{
    padding: 5px 10px;
    }
.no-border{
    border:none;
}
.border-lr{
    border-left: 1px solid #666666;;
    border-right: 1px solid #666666;
}
.border-bottom{
    border-bottom: 1px solid #666666;;
}
.no-list-style{
	list-style: none;
	padding: 0;
	margin: 0;
}
.single-title{
	font-size: 1.2em;
}
h2{
    margin: 0 0 20px 5px;
}

h5{
    margin: 2px 0;
}
.gray-bg{
    background-color: #333333;
}
.black-bg{
    background-color: #111111;
}
.white-text{
	color: white;
}
.deep-bg{
    background-color: #2E2E2E;
}
.dark-bg{
	background-color: #222;
}
.shadow-light-no-ease{
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
}
.shadow-light-no-ease:focus,
.shadow-light-no-ease:hover{
	box-shadow: 0px 0px 3px 0px rgba(238, 136, 135, 0.7);
}
.shadow-light{
	border: none;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
	transition: all 0.1s ease 0s;
}
.shadow-light:focus{
	box-shadow: 0px 0px 3px 0px rgba(238, 136, 135, 0.7);
	transition: all 0.3s ease 0s;
}
.gray-bg-link{
    padding: 2px 5px;
	border-radius: 1px;
}
.gray-bg-link:hover{
	background-color: #222222;
}
.radius-5{
    border-radius: 5px;
}
.radius-3{
    border-radius: 3px;
}
.width-98{
	width: 98%;
}
.block{
	display: block;
}
.width-90{
	width: 90%;
}

.width-75{
    width: 75%
}
.padding-bottom-5{
    padding: 0 0 5px 0;
}
.white-gray-btn{
    background-color: white;
    transition: all 0.5s ease 0s;
    padding: 2px 5px;
    margin-right: 5px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    
}
.white-gray-btn:hover{
    background-color: #EBEBEB; /*gray*/
    
    transition: all 0.15s ease 0s;
}
.black-gray-btn{
    background-color: #111111;
    transition: all 0.5s ease 0s;
    /*padding: 2px 5px;*/
    margin-right: 5px;
}
.black-gray-btn:hover{
    /*background-color: rgb(51, 0, 0);*//*red*/
    background-color: #2E2E2E; /*gray*/
    
    transition: all 0.15s ease 0s;
}
.light-black-box-shadow {
    box-shadow: 5px 5px 5px #111111;
}
.deep-black-box-shadow{
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    }
.clear-btn-style{
    margin: 0 ;
    border: none;
}
.pread-mini p{
    margin: 5px 0;
    font-size: 12px;
}
.div-read{
	font-family: "微软雅黑","宋体";
    font-size: 14px;
    line-height: 24px;
}
pre{
    font-family:"Monospace","Terminal";
    font-size: 14px;
    word-wrap: break-word;
    white-space:pre-wrap;
}
.font-11px{
	font-size: 11.5px;
}
/*#666666*/
.ico-music{
    width: 100px;
    height: 100px;
    background-image: url("img/music_ico.png");
}





/*div boxed*/
#boxed {
	width: 100%;
}

/*header*/

header {
	padding: 2px 0px;
	/*background-color: #222222;*/
	/*border-bottom:solid 1px #666666;*/
	width: 100%;
	padding: 0 0;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
    background-color: #2E2E2E;
}
header a{
	padding: 0 5px;
}
/*menu-bar-cpoy*/
#menu-bar {
	padding: 2px 0px;
	
	/*border-bottom:solid 1px #666666;*/
	width: 1220px;

}
/* end menu-bar-copy */
/*end header*/

/*div main*/

#main{
	width: 100%;
}
#container{
	width: 1100px;
}
#info {
	padding: 20px 0;
}
#intro {
    margin-top: 40px;
}
#intro li{
    padding: 5px 10px;
    margin-right: 10px;
    }
/*logo*/
#logo{
	height: 75px;
	width: 228px;
}
/* end logo*/
/* start info-detail*/
#info-detail{
	height: 75px;
	width: 720px;
}
/* end info-detail*/

/*start core-content*/
#core-left{
    width: 73%;
    min-height: 800px;
}
#core-sidebar{
    width: 25%;
}
/*start core-left*/
#core-tabs{
    margin-bottom: 20px;
}
.node-list{
	width: 100%;
	background-color: #4f4f4f;
	box-shadow: 5px 5px 5px #111111;
	
}
.node-list ul{
	padding: 0 10px;
}
.node-list li{
	float: left;
	padding: 2px;
	margin-right: 3px;
}
.topic-title a,
.vote-block a,
.topic-info a,
.node-list a{
	cursor: pointer;
	text-decoration: none;
    transition: all 0.5s ease 0s;
}
.topic-title a:hover,
.topic-info a:hover,
.vote-block a:hover,
.node-list a:hover{
	text-decoration: underline;
    transition: all 0.15s ease 0s;
}
.node-detail{
	color: #C6C6C6;
	width: 100%;
}
.topic-post{
	border-bottom:solid 1px #666666;
	height: 72px;
	width: 100%;
}
.user-avatar {
	width: 72px;
	/*height: 100%;*/
}
.user-avatar img{
	height: 48px;
	width: 48px;
	border-radius: 5px;
	margin: 12px;
}
.node-mini-avatar{
    width: 24px;
    height: 24px;
}
.detail-center{
	width: 508px;
	height: 100%;
}
.topic-title{
	overflow: hidden;
	/*height:24px;*/
	padding: 12px 0 0 0;
	width: 100%;
	font-size: 18px;
}
.topic-info {
	font-size: 11.5px;
	overflow: hidden;
}
.detail-vote{
	height: 100%;
}
.vote-block{
	margin: 30px 0;
	font-size: 15px;
}
.vote-block a:hover{
	text-decoration: none;
}
/*start left-box*/
.left-box{
    width: 100%;
    margin-bottom: 20px;
    padding: 0 0 10px 0;
}
.left-cell{
    padding: 10px;
    margin-bottom: 5px;
}
.left-cell-title{
    padding: 5px 10px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    
    }
 .comment-info{
 	font-size: 11.5px;
 	padding: 5px 2px;
 }
.topic-comment-left{
    width: 72px;
    }
.topic-comment-right{
    width: 710px;
}
ul.topic {
    padding: 0 10px;
    }
.nodes-box-left{
    width: 72px;
    }
/*end left-box*/
/*start comment-text-area*/
#wmd-input-0{
    width: 98%;
    min-height: 300px;
    background-color: #222;
    color:white;
    border: 1px solid #222;
}
/*fix ueditor text color problem*/
.edui-label,
.edui-box{
 color: black;
 }
/*end ueditor text color fix*/
/*md editor border fix*/
.md-editor{
    border: none;
}
/*end md editor border fix*/
.submit-comment{
    padding: 6px 20px;
}
#node-head {
    min-height: 120px;
    }
.node-head-right{
    width: 700px;
    }
/*.md-editor > .md-preview {
    background-color: #222;
}*/
/*end comment-text-area*/
/*end core-left*/
/*start core-sidebar*/
.side-box{
	width: 100%;
	background-color: #333333;
	margin-left: 15px;
	margin-bottom: 20px;
    padding: 5px 0;
}
.cell{
	width: 95%;
    margin-bottom: 5px;
}
.username {
	margin: 25px 5px;
}
.user-info {
	width: 33%;
    font-size: 11px;
    margin: 8px 0;
}
.user-info a{
    font-size: 16px;
}
#login-btn{
    padding: 3px;
    width: 30%;
    margin: 10px 0 0 0;
}
.mini-topic li{
}
.mini-topic img{
    margin: 5px 0 0 0;
    width: 24px;
    height: 24px;
}
.sidebar-node-list li{
    padding: 2px 5px;
}

/*end core-sidebar*/
/*end core-content*/
/*start footer*/
#footer{
    min-height: 178px;
    box-shadow: -3px 0px 3px 0px rgba(0, 0, 0, 0.7);
}
#footer-container{
    width: 1100px;
}
.footer-cell{
    padding: 10px 0 ;
}
.footer-block{
    padding-top: 5px;
    padding-right: 20px;
}
/*end footer*/

/*end div boxed*/



/*menu-bar-cpoy*/
#menu-bar-copy {
	padding: 2px 0px;
	position: fixed;
	background-color: #222222;
	/*border-bottom:solid 1px #666666;*/
	width: 100%;
	padding: 0 0;
	top: 0;
	box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.7);
	display: none;
}
#menu-bar-copy a{
	padding: 0 5px;
}
/* end menu-bar-copy */
